/* hela hemsidans css*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(250, 255, 224, 1);
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  background-color: rgba(0, 76, 13, 1);
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5rem;
  margin-right: 42px;
  padding: 0;
}

.nav-links a {
  color: rgba(250, 255, 224, 1);
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  font-size: 1.3rem;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: rgba(250, 255, 224, 1);
  transition: width 0.2s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a.active::after {
  width: 100%;
}

.logo img {
  height: 5rem;
  width: 100%;
}

/* hem */

.hero {
  position: relative;
  height: 500px;
  overflow: hidden;
  width: 100%;
}

.hero video {
  width: 100%;
  object-fit: cover;
  inset: 0;
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(23, 58, 30, 0.59);
  z-index: 1;
}

.hero-center-banner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 5;
}

.hero-center-banner h1 {
  color: rgba(250, 255, 224, 1);
  font-size: 6rem;
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.karta-sektion {
  padding: 60px 40px;
  display: flex;
  flex-direction: center;
}

.kort {
  background-color: rgba(0, 76, 13, 1);
  width: 100%;
  height: 400px;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  gap: 40px;
}

.kort-text {
  flex: 1;
  color: rgba(250, 255, 224, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kort-text h2 {
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-size: 1.8rem;
}

.kort-text p {
  font-size: 1.2rem;
}

#sverigekarta {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fakta-sektion {
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.karusell-container {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.knapp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgba(250, 255, 224, 1);
}

.karusell {
  display: flex;
  gap: 20px;
  flex: 1;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.fakta-kort {
  flex: 0 0 320px;
  scroll-snap-align: start;
  background-color: rgba(0, 76, 13, 1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.fakta-bild {
  width: 100%;
  height: 200px;
}

.fakta-text {
  padding: 25px;
  display: flex;
  flex-direction: column;
  color: rgba(250, 255, 224, 1);
}

.fakta-text h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.fakta-text p {
  font-size: 1rem;
}

.fakta-kalla {
  margin-top: auto;
  font-style: italic;
  padding-top: 15px;
}

.statistik-lankar-sektion {
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.statistik-lankar-sektion h2 {
  color: rgba(0, 76, 13, 1);
  font-size: 2rem;
  margin-bottom: 40px;
}

.lank-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  width: 100%;
}

.lank-kort {
  background-color: rgba(0, 76, 13, 1);
  border-radius: 10px;
  padding: 30px 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: rgba(250, 255, 224, 1);
}

.lank-kort:hover {
  background-color: rgba(10, 66, 21, 0.77);
}

.lank-kort h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.lank-kort p {
  font-size: 0.95rem;
  line-height: 1.4;
  flex: 1;
  margin-bottom: 20px;
}

.pil-lank {
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: auto;
}

/* /* =====================
   OM OSS CONTAINER
===================== */

.container {
  background-color: rgba(0, 76, 13, 1);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  padding: 40px;
  margin: 40px auto;
  border-radius: 10px;
}

.text {
  color: rgba(250, 255, 224, 1);
  width: 60%;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
}

.text h2 {
  font-size: 60px;
}

.container img {
  width: 30%;
  border-radius: 10px;
  margin-left: 80px;
}

/* =====================
   KÄLLOR + DATA (BOXAR)
===================== */

.info-container {
  display: flex;
  gap: 40px;
  width: 80%;
  margin: 40px auto;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* gemensam box-stil */
.kalla-dropdown,
.data-dropdown {
  flex: 1;
  min-width: 300px;
  padding: 1.5rem;

  background-color: rgba(0, 76, 13, 1);
  border-radius: 10px;
  height: auto;


}

/* rubriker */
.kalla-dropdown summary,
.data-dropdown summary {

  cursor: pointer;
  font-weight: bold;
  font-size: 40px;
  color: rgba(250, 255, 224, 1);
}

/* innehåll */
.kallor,
.data {
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 1.6;
  padding-left: 20px;
  color: rgba(250, 255, 224, 1);
}

.kallor li,
.data li {
  margin-bottom: 15px;
  max-width: 100%;
  overflow-wrap: break-word;
}

/* =====================
   FOOTER
===================== */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px;
  margin-top: 40px;

  background-color: rgba(0, 76, 13, 1);
  color: rgba(250, 255, 224, 1);
}

.footer-contact {
  line-height: 1.8;
  font-size: 1.3rem;
}