.navbar {
  display: flex;
  align-items: flex end;
  gap: 1rem;
  list-style: none;
  font-size: 1rem;
  background-color: rgb(38, 156, 85);
}

.navbar li a {
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: black;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem;
}

.navbar li a:hover {
  background-color: aquamarine;
  border-radius: 5px;
}

/*.title {
  display: grid;
  grid-template-columns: 1fr;
  background-color: aquamarine;
  padding: 5px;
} */

.header {
  display: grid;
  grid-template-columns: 1fr;
  background-color: aqua;
  font-size: 4rem;
}
